:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 24px;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5 ease-in-out;
}

.board {
  margin: 40px auto;
  text-align: center;
  width: fit-content;
}

.board h1 {
  color: #eee;
  margin-bottom: 16px;
}

.board button {
  background: transparent;
  border: 2px solid #eee;
  border-radius: 5px;
  color: #eee;
  cursor: pointer;
  font-weight: bold;
  margin: 25px;
  padding: 8px 12px;
  transition: 0.2s;
  width: 100px;
}

.board button:hover {
  background: #eee;
  color: #222;
}

.board .game {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.turn {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 15px auto;
  position: relative;
  width: fit-content;
}

.square.is-selected {
  background: #09f;
  color: #fff;
}

.square.is-line {
  background: rgba(162, 236, 211, 0.856);
  color: #fff;
}
.square.is-x, .winner .square.is-x  {
  color: #fa5757;
}
.square.is-o, .winner .square.is-o {
  color: rgb(123, 88, 238);
}

.turn .square,
.winner .square {
  border-color: transparent;
  height: 70px;
  pointer-events: none;
  width: 70px;
  color: #fff;
}

.winner {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: grid;
  height: 100vh;
  left: 0;
  place-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
}

.winner .text {
  align-items: center;
  background: #1111115a;
  border: 2px solid #eee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  justify-content: center;
  width: 320px;
}

.winner .win {
  border: 2px solid #eee;
  border-radius: 10px;
  display: none;
  gap: 15px;
  margin: 0 auto;
  width: fit-content;
}

.win:has(.square){
  display: flex;
}

.square {
  border: 2px solid #eee;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  font-size: 48px;
  font-weight: bold;
  height: 100px;
  place-items: center;
  width: 100px;
}

.logo {
  width: 300px;
  height: auto;
}
